 .sapMITBContent {
            border-bottom: none;
        }
      /*   .sapMTitleStyleAuto {
            font-size: .875rem;
        } */
      /*   .sapMListTblCell {
            padding: .9rem !important;
        } */
      
/* .sapLabelColor{
    color: #741f1f;

}
.sapMLnk {
    color: #741f1f !important;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    font-family: "72fallback","72","72full",Arial,Helvetica,sans-serif;
    font-size: .875rem;
    cursor: pointer;
} */
.sapUiFormContainerTitle>.sapUiFormTitle {
    display: none;
}
.sapFDynamicPage-Std-Tablet .sapFDynamicPageHeaderWithContent {
    padding: 0.5rem 0;
}
.sapFDynamicPage-Std-Desktop .sapFDynamicPageHeader.sapFDynamicPageHeaderWithContent {
    padding: 0.5rem 0;
}
.sapFDynamicPage-Std-Phone .sapFDynamicPageHeaderWithContent {
    padding: 0 0 0.5rem 0;
}

